{% extends 'myprofile/base.html' %}
{% load static %}
{% block content %}
<style>
.allskill ul li{
    padding: 10px;
    margin: 10px;
}
.allskill ul li:active,
.allskill ul li:hover{
    box-shadow: 0 0 16px 6px rgba(0,0,0,0.3);
}
</style>
<link rel="stylesheet" href="{% static 'styles/allskills.css'%}">
<section class="allskill">
    <ul>
        {% for skill in skills %}
        <li><a href="">
        <img src="{% static 'skillimages/'|add:skill.skillimage %}" alt=""></a>
        <h2>{{skill.skillname}}</h2>
        <h3>{{skill.skillcontent}}</h3>
        
        {% endfor %}
    </ul>
</section>
{% endblock %}