<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Trinadh Ravuri</title>
</head>
<body>
    <!-- Header section start -->
    <section class="header">
        <div class="pic-name">
            <img src="{% static 'images/profile.jpg' %}" alt="">
            <h1><span>T</span>rinadh <span>R</span>avuri</h1>
        </div>
        <div class="navi">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="{% url 'allprojects' %}">Projects</a></li>
                <li><a href="{% url 'allskills' %}">Skills</a></li>
                <li><a href="">Contact Me</a></li>
            </ul>
        </div>
    </section>
    <!-- Header section end -->
    <!-- trinadh Intro starts -->
    <section class="intro section-start">
        <div>
            <img src="{% static 'images/webprofile.png' %}" alt="">
        </div>
        <div class="matter">
            <h2 class="hello">Hello.!</h2>
            <h3>My name is</h3>
            <h1 class="name">Trinadh Ravuri</h1>
            <h4>I am</h4>
            <h2 class="prof">IT Professional</h2>
            <a href=""><button class="btn">Call Me</button></a>
            <a href=""><button class="btn">Email me</button></a>
            <a href=""><button class="btn">Dounload Resume</button></a>
        </div>
    </section>
    <!-- trinadh Intro ends -->
    {% block content %}

    {% endblock %}
        <!-- trinadh footer starts -->
        {% block footer %}

        {% include 'myprofile/includes/footer.html' %}
    
        {% endblock %}
        <!-- trinadh footer ends -->
    </body>
</html>