{% extends 'myprofile/base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">

    <!-- trinadh About starts -->
    <section class="about section-start">
        <section class="title">About Me</section>
        <div class="myself">
            <p>Hi..!, Myself <b>Trinadh Ravuri</b>.</p>
            <p>I am a PYTHON DEVELOPER</p>
            <p>Yet, iam working as an AUTOMATION TEST ENGINEER</p>
            <p>I have total of 7+ years of working Experience as</p>
            <ul>
                <li><a href="">AUTOMATION TEST ENGINEER</a></li>
                <li><a href="">MANUAL TESTER</a></li>
                <li><a href="">SYSTEM ADMINISTRATOR</a></li>
            </ul>
            <p>I am very much interested in Development in Python</p>
        </div>
        <div class="education">
            <div class="title">My Education</div>
            <ul>
                <li>
                    <h2>Time</h2>
                    <h3>10 Th</h3>
                    <h4>Surya Residential School</h4>
                    <p>content</p>
                </li>
                <li>
                    <h2>Time</h2>
                    <h3>Intermediate</h3>
                    <h4>Sarada junior College</h4>
                    <p>content</p>
                </li>
                <li>
                    <h2>Time</h2>
                    <h3>B.sc(Electronics)</h3>
                    <h4>S S S & N College, Narasaraopet</h4>
                    <p>content</p>
                </li>
                <li>
                    <h2>Time</h2>
                    <h3>M.C.A</h3>
                    <h4>Holy Mary, Hyderabad</h4>
                    <p>content</p>
                </li>
            </ul>
        </div>
        <div class="hobbies">

        </div>
    </section>
    <!-- trinadh About ends -->
    <!-- trinadh Projects starts -->
    <section class="projects section-start">
        {% block projects %}
        <section class="projects">
            <div class="title">
                <h2><a href="" title="click here for ALL PROJECTS">My Projects</a></h2>
            </div>
            <ul>
                {% for project in projects %}
                <li><a href="">{{ project.projectname|upper }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endblock projects %}
    </section>
    <!-- trinadh Projects ends -->
    <!-- trinadh Skills starts -->
    <section class="skills section-start">
        {% block skills %}
        <section class="skills">
            <div class="title">
                <h2><a href="" title="ALL SKILLS">My Skills</a></h2>
            </div>
        <ul>
        {% for skill in skills %}
        <li>
            <h1><a href="">{{skill.skillname|upper}}</a></h1>
        </li>
        {% endfor %}
        </ul>
        </section>
        {% endblock skills %}
    </section>
    <!-- trinadh Skills ends -->
    <!-- trinadh Contact starts -->
    <section class="contact section-start">
        {% block form %}
        
        {% endblock form %}
    </section>
    <!-- trinadh Contact ends -->
{% endblock %}
