<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trinadh Ravuri</title>
</head>
<body>
    <!-- Header section start -->
    <section class="header">
        <div class="pic-name">
            <img src="" alt="">
            <h1><span>T</span>rinadh <span>R</span>avuri</h1>
        </div>
        <div class="navi">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Skills</a></li>
                <li><a href="">Contact Me</a></li>
            </ul>
        </div>
    </section>
    <!-- Header section end -->
    <!-- trinadh Intro starts -->
    <section class="intro">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h2>Hello.!</h2>
            <h3>My name is</h3>
            <h1>Trinadh Ravuri</h1>
            <h4>I am</h4>
            <h2>IT Professional</h2>
            <a href=""><button class="btn">Call Me</button></a>
            <a href=""><button class="btn">Email me</button></a>
            <a href=""><button class="btn">Dounload Resume</button></a>
        </div>
    </section>
    <!-- trinadh Intro starts -->
    <!-- trinadh About starts -->
    <section>
        <div class="education">

        </div>
        <div class="hobbies">

        </div>
    </section>
    <!-- trinadh About ends -->
    <!-- trinadh Projects starts -->
    <section class="projects">
        {% block projects %}
        {% endblock projects %}
    </section>
    <!-- trinadh Projects ends -->
    <!-- trinadh Skills starts -->
    <section class="skills">
        {% block skills %}
        {% endblock skills %}
    </section>
    <!-- trinadh Skills ends -->
    <!-- trinadh Contact starts -->
    <section class="contact">
        {% block form %}
        {% endblock form %}
    </section>
    <!-- trinadh Contact ends -->
    <!-- trinadh footer starts -->
    <section class="footer">
        <div>
            <h1>Address</h1>
        </div>
        <div>
            <h2>Facebook</h2>
            <h2>Twitter</h2>
            <h2>Linkedin</h2>
            <h2>Git Hub</h2>
        </div>
        <div>
            <h2>Email</h2>
            <h2>Mobile</h2>
        </div>
    </section>
    <!-- trinadh footer ends -->
</body>
</html>