*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
}
.header{
    position: fixed;
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: gray;
    color: white;
    z-index: 99;
}
.header .pic-name{
    display: flex;
    align-content: center;
    align-items: center;
}
.header .pic-name h1:hover{
    color: black;
    letter-spacing: 2px;
}
.header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.navi ul{
    display: flex;
    align-items: center;
}
.navi ul li{
    list-style: none;
    padding: 5px;
}
.navi ul li a{
    text-decoration: none;
    padding: 5px;
    color: white;
}
.navi ul li a:active,
.navi ul li a:hover{
    color: black;
    font-size: 20px;
}
a .btn{
    position: relative;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
a .btn:active,
a .btn:hover{
    background-color: grey;
    color: white;
}
/* section end */
.section-start{
    position: relative;
    top: 40px;
}
/* intro */
.intro{
    display: flex;
    justify-content: space-around;
    top: 90px;
}
.intro .matter .hello{
    font-size: 90px;
    font-family:'Trebuchet MS', sans-serif;
}
.intro .matter .name{
    font-size: 90px;
    font-family: Verdana, sans-serif;
}
.intro .matter .prof{
    font-size: 90px;
    font-family: 'Segoe UI',Geneva, sans-serif;
}
.intro .matter h3,h4{
    font-size: 30px;
}
/* about section */
.about{
    margin: 10px;
    padding: 10px;
}
.about .title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.about .myself{
    text-align: center;
    line-height: 2;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.about .myself li{
    list-style: none;
}
.about .myself li a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
.about .myself li a:hover,
.about .myself li a:active{
    letter-spacing: 3px;
}
.about .education ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}
.about .education ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    justify-content: space-around;
}
.about .education .title{
    font-weight: bold;
}
/* skills */
.skills{
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', sans-serif;
}
.skills .title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.skills .title a{
    text-decoration: none;
    color: black;
}
.skills .title a:hover{
    color: grey;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    padding: 60px;
    justify-content: space-around;
}
.skills ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 0.2px solid grey;
}
.skills ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.skills ul li:active,
.skills ul li:hover{
    border: none;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    color: white;
}
.skills ul li:hover a{
    color: white;
}
/* projects */
.projects{
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', sans-serif;
}
.projects .title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.projects .title a{
    text-decoration: none;
    color: black;
}
.projects .title a:hover{
    color: grey;
}
.projects ul{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    padding: 60px;
    justify-content: space-around;
}
.projects ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 0.2px solid grey;
}
.projects ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.projects ul li:active,
.projects ul li:hover{
    border: none;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    color: white;
}
.projects ul li:hover a{
    color: white;
}
/* footer */
